

.c-row{
	display:flex;
	flex-direction:row;
	height:250px;
	@include grid-container;

	& + & {
		margin-top:20px;
	}
}

.c-box{
	min-height:100px;
	background:$schooner;
}

.c-2-box{
	.c-box{
	@include grid-column(6);

	&:nth-child(odd){
		background:$mandy;
		}
		
		&:nth-child(even){
			background:$anakiwa;
		}
	}
}

.c-3-box{
	.c-box{
	@include grid-column(4);
	background:$anakiwa;
	&:nth-child(odd){
		background:$solidPink;
	}
	}
}

.c-4-box{
	.c-box{
		@include grid-column(3);
		&:nth-child(odd){
			background:$gossip;
		}
		&:nth-child(even){
			background:$solidPink;
		}
	}
}

.c-5-box{
	.c-box{
		@include grid-column(3);
		// @include grid-column(3, $new-grid);


		&:nth-child(odd){
			background:$gossip;
		}

		&:nth-child(even){
			background:$mandy;
		}
	}
}